<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Branderra</string>
	<key>CFBundleIdentifier</key>
	<string>ru.branderra.branderra</string>
	<key>CFBundleShortVersionString</key>
	<string>1.8</string>
	<key>CFBundleVersion</key>
	<string>1.8</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>9.2</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainNibFile</key>
	<string>LaunchScreen</string>
	<key>UIMainNibFile~ipad</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Branderra</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb788179131282494</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>FacebookAppID</key>
	<string>788179131282494</string>
	<key>FacebookDisplayName</key>
	<string>Branderra</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon-76@2x</string>
		<string>Icon-76</string>
		<string>Icon-72@2x</string>
		<string>Icon@2x</string>
		<string>Icon</string>
		<string>Icon-72</string>
		<string>Icon-60@2x</string>
		<string>Icon-83.5@2x</string>
	</array>
</dict>
</plist>
